{% extends "emails/base.html" %}

    {% block title %} Account Deactivation and Eviction Notice ! {% endblock title %}

    {% block content %} 
        <p>
            Dear, {{user.get_full_name}},
        </p>

        <p>
            your account has been deactivated due to multiple reports.
        </p>


        <p>
            The last report has been received was: <strong> {{description}}</strong>
        </p>


        <p> This is per the tenancy terms and conditions that you have agreed and signed on,
            you have 30 days to evict the premises </p>

            <p>Kindly obligate by the set rules.</p>  

        <p>Regards, <br> the {{site_name}} team </p>

{% endblock content %}   